{%
  set body_classes = [
    not root_path ? 'is-homepage',
  ]
%}

<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    {{ metaHeadTags }}
    <css-placeholder token="{{ placeholder_token }}">
    <js-placeholder token="{{ placeholder_token }}">

    {% include "@components/google-tag-manager/gtm-head.html.twig" %}

    {% block head_content %}{% endblock head_content %}
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    {% include "@icons/svg-map.html.twig" %}
    {% block body_top_content %}{% endblock body_top_content %}

    {% include "@components/google-tag-manager/gtm-body.html.twig" %}

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token }}">
    {% block body_bottom_content %}{% endblock body_bottom_content %}
  </body>
</html>
